
.icon-plus:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e803'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */